Repository njzjz/dprc-tutorial: changes, and which pre-commit hooks are due for each by the changed paths.
All: dargs-check-param, dargs-check-machine

dargs-check-param:
  name: dargs check
  entry: dargs check
  args:
  - -f dpgen.generator.arginfo.run_jdata_arginfo
  language: python
  additional_dependencies:
  - dpgen==0.12.1
  - dargs>=0.4.8

dargs-check-machine:
  name: dargs check
  entry: dargs check
  args:
  - -f dpgen.generator.arginfo.run_mdata_arginfo
  language: python
  additional_dependencies:
  - dpgen==0.12.1
  - dargs>=0.4.8

mace DeePMD-kit implementation
  machine.json
  param.json
Due: dargs-check-param, dargs-check-machine

fix: `model_devi_skip` is necessary although it is not in the argument
  .pre-commit-config.yaml
  param.json
Due: dargs-check-param

fix: `model_devi_skip` is necessary although it is not in the argument (#12)
  .pre-commit-config.yaml
  param.json
Due: dargs-check-param

fix: `nstlim` must be zero for reanalysis in AmberTools 24
  mdin/high_level.mdin
  mdin/low_level.mdin
Due: none

fix: `nstlim` must be zero for reanalysis in AmberTools 24 (#13)
  mdin/high_level.mdin
  mdin/low_level.mdin
Due: none

fix: fix quick mdin file
  mdin/high_level.mdin
Due: none

fix: fix quick mdin file (#14)
  mdin/high_level.mdin
Due: none

Merge branch 'master' into mace2
  .github/workflows/pre-commit.yaml
  .pre-commit-config.yaml
  machine.json
  mdin/high_level.mdin
  mdin/low_level.mdin
  param.json
Due: dargs-check-param, dargs-check-machine

clean up arguments
  machine.json
Due: dargs-check-machine

set `ntwf` to 50
  mdin/low_level_md.mdin
Due: none

Path conditions:
  dargs-check-param: any of: param.json
  dargs-check-machine: any of: machine.json
